<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.legacydiary.mappers.memberMapper">
  	<select id="getDateTime" resultType="string">
  		select now()
  	</select>
  	
  	<select id="selectMemberId" resultType="int">
  		select count(*) from member where memberId = #{tmpMemberId}
  	</select>
  	
  	<insert id="insertMember">
  		insert into member(memberId, memberPwd, email, memberName)
		values(#{memberId}, sha1(md5(#{memberPwd})), #{email}, #{memberName})
  	</insert>
  	
<!--   	<select id="loginWithLoginDTO" resultType="com.legacydiary.domain.MemberDTO"> -->
  	<select id="loginWithLoginDTO" resultType="MemberDTO">
  		select * from member where memberId = #{memberId} and memberPwd = sha1(md5(#{memberPwd}))
  	</select>
  	
  	<select id="selectEmailByMemberId" resultType="string">
  		select email from member where memberId = #{memberId}
  	</select>
</mapper>